@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');


div::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
  background-color: transparent;
  border-radius: 10px;
}

div::-webkit-scrollbar
{
  width: 10px;
  background-color: transparent;
}

div::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  background-color: transparent;
  background-image: -webkit-gradient(linear,
                     40% 0%,
                     75% 84%,
                     from(grey),
                     to(grey),
                     color-stop(.6,grey));
}

body {
    width: fit-content;
    padding: 0;
    margin: 0;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
}

#gameWindow {
    margin-top: 10vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    /* height: 70vh; */
    /* width: auto; */
}

.window {
    font-family: Source Code Pro;
    border: 8px;
    border-style: solid;
    border-color: rgb(71, 71, 71);
    width: 40vw;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5px;
}

#promptWindow {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 45vh;
    text-align: center;
}

#promptText {
    height: fit-content;
    overflow: hidden;
}

#promptOptions {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
}

#consoleWindow {
    margin-top: 5px;
    height: 25vh;
}

#screenWindow {
    position: relative;
    align-self: center;
    text-align: center;
    height: 70vh;
    width: 30vw;
    margin-left: 5px;
    background-color: white;
    background-image: url("images/lineup_background.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

p {
    color: lime;
    font-size: min(1.2vw, 4vh);
    line-height: max(2.8vh, 11px);
    margin: 1px;
}

div {
    overflow: auto;
}

span {
    width: inherit;
    word-wrap: break-word;
}

.txtbtn {
    justify-content: space-evenly;
    flex-direction: row;
    display: flex;
    margin-top: 5px;
    color: lime;
    background: transparent;
    border-style: dashed;
    border-color: grey;
    font-size: min(1.2vw, 4vh);
}

.txtbtn:hover {
    color: rgb(0, 129, 0);
    border-style: solid;
    border-color: rgb(82, 82, 82);
    cursor: pointer;
}

 /* blinking cursor */
 .cursor {
    color: lime;
    -webkit-animation: blink 1.2s infinite;
    animation: blink 1.2s infinite;
    vertical-align: top;
}
  
@-webkit-keyframes blink {
    from, to {
        color: transparent;
    }
    50% {
        color: lime;
    }
}

@keyframes blink {
    from, to {
        color: transparent;
    }
    50% {
        color: lime;
    }
}

#icon {
    width: 80%;
    height: 80%;
    transform: scale(0.8);
    object-fit: contain;
    -webkit-animation: slam 1s;
    animation: slam 0.6s;
}

@-webkit-keyframes slam {
    from, to {
        transform: scale(0.8);
    }
    50% {
        transform: scale(1.2);
    }
}

@keyframes slam {
    from, to {
        transform: scale(0.8);
    }
    70% {
        transform: scale(1.2);
    }
}

#paper {
    font-family: Indie Flower;
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
    width: 25vw;
}

#paper .closebtn {
    position: absolute;
    top: 2%;
    right: 18%;
    background-color: transparent;
    border: 0;
    font-size: large;
}

#paper .closebtn:hover {
    cursor: pointer;
}

#paper img {
    max-width: 100%;
    /* max-height: fit-content; */
    height: 700px;
}

#paper p {
    color: rgb(36, 36, 36);
    position: absolute;
    text-align: left;
    top: calc(0% + (52px));
    left: 24%;
    font-size: large;
    line-height: 17.5px;
}

#paper h2 {
    color: rgb(36, 36, 36);;
    position: absolute;
    top: -1%;
    left: 25%;
}